<!DOCTYPE html>
<html>
<head>
  <title>Claim Portal</title>
</head>
<body>
  <h1>Claim: <%= claim.name %></h1>
  <h2>Items</h2>
  <ul>
    <% claimItems.forEach(item => { %>
      <li>
        <strong><%= item.name %></strong> - <%= item.description %> - <%= item.status %> - Location: <%= item.location %>
      </li>
    <% }) %>
  </ul>
</body>
</html>
